doctype
html

    head
        <meta name="viewport" content="width=device-width">
        title=title
        link(rel='icon' href= icon_href)

        link( rel="preconnect" href="https://fonts.googleapis.com")
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link( href="https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap" rel="stylesheet")
        
        link(href='/00_layout.css' rel='stylesheet')
        link(href=css_href rel='stylesheet')


    block vars


    header
        nav(class="navbar")
            input(type="checkbox" id="check")
            label(for="check")
                i(class="fas fa-bars" id="btn")
                i(class="fas fa-times" id="cancel")
            a(class="logo" href="/") Medley
            ul
                if !(vPage === "/")
                    li
                        a(href="/") Home
                
                block accOpt

                

            //- Remove this if you want nav to be centered
            //- div


            
                

    body
        block A


    footer 
        block B

block scripts

script(src="00_layout.js")
script(src="https://kit.fontawesome.com/a076d05399.js")

if _includeSockets
    script(src="/socket.io/socket.io.js")
    script(src="00_sockets.js")

each script in scriptsList
    script(src=script)
                    

