extends 00_layout 

block accOpt 
    if user.isAuthenticated 
        li
            a(href="#") Account
    else 
        li
            a(href="/login") Log in 
        li
            a(href="/Register") Register


block A
   
   div(class="parallax" id="parallax1")
    div(class="p1-container")
        div(class="info")
             

            div.wrapper
                div.words
                    span Fix it 
                    span Save time 
                    span Worry less 
                    span Save money 
                    span Earn money 
                    span Get help
                    span Help others
                p with MEDLEY



        div(class="info")
            h1 Get started

    

   div(class="parallax" id="parallax2")
    h2 Div 2

   div(class="parallax" id="parallax3")
    h2 Div 3

block scripts
    script(src="/01_index.js")