extends 00_layout 

block accOpt 
    if user.isAuthenticated 
        li
            a(href="#") Account
    else 
        li
            a(href="/login") Log in 
        li
            a(href="/Register") Register


block A
   
   div(class="parallax" id="parallax1")
    div(class="p1-container")
        div(class="info" id="info-1")
             

            div.wrapper
                div.words
                    span Fix it 
                    span Get help
                    span Save time 
                    span Worry less 
                    span Save money 
                    span Earn money 
                    span Help others
                p with MEDLEY



        div(class="info" id="info-2")
            p 

    

   div(class="parallax" id="parallax2")
    h2 Short snippet about how to use Medley

   div(class="parallax" id="parallax3")
    h2 Something else

block scripts