extends 00_layout

block accOpt 
    li
        a(href="/register") I don't have an account


block A
    div.container
        div(class="title") Login
            span(class="error-msg") 
                if errors
                    | #{errors.message}
        form(action="/login" method="POST")
            div.user-details

                div.input-box
                    div(class="error")
                        span.details Username or Email
                        span(class="error-msg" id="usernameemail-error")
                    input(type="text" name="usernameoremail" placeholder="Enter username/email" required)


                div.input-box
                    div(class="error")
                        span.details Password
                        span(class="error-msg" id="password-error")
                    input(type="password" name="password" placeholder="Enter Password" required)

                

            div.button
                input(type="submit" value="Login")

        div.bottom-info
            a(href="/login") Forgot 
            a(href="/register") Make An Account