extends 00_layout

block accOpt 
    li
        a(href="/login") Wait, I have an account


block A 
    div(class="container")
        div(class="title") Registration

        form(id="registerForm" method='POST' action='/register' autocomplete='off' onsubmit= 'return validate(event)')
            div.user-details#user-details-div

                div.input-box
                    div(class="error")
                        span.details First Name
                        span(class="error-msg" id="firstname-error")
                    input(id="firstname" name="firstname" type="text" placeholder="Enter First Name" )

                div.input-box
                    div(class="error")
                        span.details Last Name
                        span(class="error-msg" id="lastname-error")
                    input(id="lastname" name="lastname" type="text" placeholder="Enter Last Name" )

                div.input-box
                    div(class="error")
                        span.details Email
                        span(class="error-msg" id="email-error") 
                            if errors 
                               | #{errors.email}
                    input(id="email" name="email" type="text" placeholder="Enter Your Email" )

                div.input-box
                    div(class="error")
                        span.details Username
                        span(class="error-msg" id="username-error") 
                            if errors 
                                | #{errors.username}
                    input(id="username" name="username" type="text" placeholder="Enter A Username" )

                div.input-box
                    div(class="error")
                        span.details Password
                        span(class="error-msg" id="password-error")
                    input(id="password" name="password" type="password" placeholder="Enter A Password" )

                div.input-box
                    div(class="error")
                        span.details Confirm Password
                        span(class="error-msg" id="confirmPassword-error")
                    input(id="confirmpassword" type="password" placeholder="Retype Your Password" )

            div.button
                input(type="submit" value="Register")

        div.bottom-info
            a(href="/login") I have an account
            a(href="/login") 


block scripts