extends 00_layout

block vars 



block A 

    div.container
        h1 Listings
        div.filter
        div#allListingsDiv
            

    div#popup
        div.leftDiv.listInfo
            img(src="" alt=" " class="listingImg" id="selectedImg")
        
        div.rightDiv.listInfo
            div#mapHolder
                | MAP
            div#userDetails
                div.userInfo
                    h1#username Username
                    h1#userAddress Address 
                    h1#willingPrice Price
                div.fullDescription
                    |Here is where the full description of the listing will go Here is where the full description of the listing will goHere is where the full description of the listing will goHere is where the full description of the listing will goHere is where the full description of the listing will go
                
                div.contactDiv
                    input(id="inputMsg" placeholder="Send [username] a message")
                    button(id="sendMsgBtn") Send




block scripts