extends 00_layout

block vars 


block accOpt
    li
        a(href="/createListing") Create Listing
    li
        a(href="#") Account
    


block A 

    div.container
        h1 Listings
        div.filter
        div#allListingsDiv
            

    div#popup
        div.leftDiv.listInfo
            img(src="" alt=" " class="listingImg" id="selectedImg")
        
        div.rightDiv.listInfo
            div#mapHolder
                img(src="" alt="" id="mapImg")
            div#userDetails
                div.userInfo
                    h1#username Username
                    h1#userAddress Address 
                    h1#willingPrice Price
                div.fullDescription#description
                
                div.contactDiv
                    input(id="inputMsg" placeholder="Send [username] a message")
                    button(id="sendMsgBtn") Send




block scripts