extends 00_layout

block vars 
    - var _includeSockets = true


block A
    script.
       var userID="#{userID}";
    div.container

        div.top-div#top-div
            |This user has not been rated
        div.bottom-div#bottom-div

block scripts
