::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: 2px;  /* Firefox */
    background-image: url(images/viewListingBackground2.jpg);
    background-size: cover;
    min-width: 500px;
}




.container{
    max-width: 1600px;
    padding: 50px 20px;
    margin: 0 auto;
    padding-top: 25px;

}

.filter{
    width: 70%;
    display: flex;
    align-items: center;
    margin: auto;

    border-radius: 10px;
    height: 50%;
    margin-bottom:30px;
}
.filterInputDiv{
    flex: 1;
}
.filterInput{
    width: 100%;
    height: 3rem;
    border: none;
    border-right: 1px solid gray;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 17px;
    outline: none;

    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}
.filterInput:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

}


.filterButton{
    width: 100%;
    height: 3rem;
    border: none;
    padding: 0.5rem;
    margin-left: 2px;;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease
}
.filterButton:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);


}

#inputTitle{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#inputPrice{
    border: none;
}
#btnSearch{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    background: var(--medley-button-color);
    color: white;
}
#btnSearch:hover{
    cursor: pointer;
}
#priceFilterDiv{
    flex: .6;
}
#searchFilterButtonDiv{
    flex: .5;
}


#allListingsDiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.listingImg, #selectedListing{
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
}

.individualListing{
    border-radius: 10px;
    background: #DCD6F8;
}
.individualListing:hover{
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px black;
}

#popup{
    z-index: 1004;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    display: block;
    justify-content: center;
    align-items: center;
    transform: translateY(-150%);
    transition: 250ms transform;
    padding: 100px;
}


.leftDiv{
    z-index: 10067;
    height: 100%;
    width:60%;
    float:left;
    padding-right: 5px;
    
    /* background:green; */
    overflow: auto;
    display: block;
}
.rightDiv{
    height:100%;
    width: 40%;
    float:left; 
    /* background:yellow; */
    overflow: auto;

}
.listInfo{
    border-radius: 10px;
}

.listingImg{
   width: 100%;
   align-items: center;
   vertical-align: middle;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}
#selectedImg{
    border-radius: 10px;
}

#mapHolder{
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
    width: 100%;
    height: 40%;
    text-align: center;
}


#userDetails{
    position: relative;
    border-top-left-radius: none;
    border-top-right-radius: none;
    width: 100%;
    height:60%;
    background: #ffbee5;
    display: block;
    text-align: left;
    
}
.userInfo{
    padding: 10px;
}

.summaryUsername{
    font-weight: bold;
}

#mapImg {
    height: 108%;
    width: 100%;
}
#username{

}
#title{
    font-size:22px;
    font-weight: 700;
}
#userAddress{
    font-size:17px;
    font-weight: 500;
}

.summaryPrice{
    color: #118C4F;
}
#willingPrice{
    color: #118C4F;
    font-size: 17px;
    font-weight: 900;

}
.summaryDiv{
    padding: 10px;
    user-select: none;
}
.summaryDiv:hover{
    cursor: pointer;
}
.fullDescription{
    text-align: bottom;
    padding: 10px;
    overflow: auto;
    font-size: 22px;
    max-height: 40%;
}

.contactDiv{
    width: 100%;
    position: absolute;
    bottom: 0;
}
#inputMsg{
    height: 50px;
    width: 80%;
    outline: none;
    padding: 0;
    padding-left: 10px;
    font-size: 17px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#sendMsgBtn{
    height: 50px;
    border: none;
    width: 20%;
    font-size: 17px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: rgb(226, 125, 251);
    color: white;
    font-weight: bold;
}
#sendMsgBtn:hover{
    cursor: pointer;
    background: rgb(215, 103, 243);

}
@media (max-width:1000px){
    #inputTitle, #inputDescription, #inputPrice, #btnSearch{
        border: none;
        border-radius: 0px;
    }
    #inputTitle{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #inputPrice{
        
    }
    
    #btnSearch{
        margin:0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .filter{
        width: 100%;
        display:block;
    }
}
@media (max-width:1000px){

    #popup{
        padding: 50px;
    }
    .listInfo{
        float: none;
        width: 100%;
    }

    .leftDiv{
        height: 40%;
        /* background: #e5c1fa; */
        padding: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .rightDiv{
        height: 60%;
        
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .listingImg{

    }
    #mapHolder{
        height: 50%;
    }
    
}