

body{
    display: flex;
    height: calc(100vh - var(--nav-height));
    justify-content: center;
    align-items: center;
    background:linear-gradient(60deg, #C7E1F2, #9c47b6);
    user-select: none;
    /* min-width: 315px; */
}

.container{
    max-width: 900px;
    width: 100%;
    background:#fff;
    padding:25px 30px;
    border-radius: 10px;
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.5);
}

.container .title{
    font-size: 25px;
    font-weight: 900;
}
.title{
    margin-bottom: 10px;
}

.container .title::before{
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background:linear-gradient(60deg, #C7E1F2, #9c47b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

form .user-details .input-box {
    margin-bottom: 20px;
    width: 45%;
}

.user-details .input-box .details{
    display: block;
    font-weight: 900;
    margin-bottom: 5px;
}
.user-details .input-box input,textarea{
    height: 45px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
    border-radius: 10px;
    border-color: #9b596b;

    /* box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2); */
}
.input-box input:hover,textarea:hover{
    box-shadow: none;
}
form .button{
    height: 45px;
    margin: 10px 0;
    text-align: center;

}
form .button input{
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 1px;
    background:linear-gradient(60deg, #C7E1F2, #9c47b6);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.button input:hover, textarea:hover{
    cursor: pointer;
    /* background:linear-gradient(15deg, #C7E1F2, #9c47b6); */
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2)

}
.user-details .input-box input:placeholder-shown, textarea:placeholder-shown{
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
    border-color: #ccc;

}

.user-details .input-box input:focus,
.user-details .input-box input:hover,
textarea:focus,
textarea:hover{

    border-color: #9b596b;
    box-shadow: none;
}

.bottom-info{
    height: 50px;
    margin:auto;
    justify-content: center;
    width: 25%;
    text-align: center;
    display: block;
    padding-top: 5px;

}
.bottom-info a{
    margin: 5px 0;
    color: var(--link-color);
    text-align: center;
    justify-content:center;
    transition: all .3s ease;
}
.bottom-info a:hover{
    font-size: 18px;
}


.error{
    display: flex;
    align-items: center;
}

.error-msg{
    font-size: 12px;
    padding-bottom: 3px;
    padding-left: 5px;
    color:red;
}

#imageDiv{
    border: 0px;
    font-weight: bold;

}
#image{
    font-size:17px;
    padding-top: 5px;
}


#descriptionDiv{
    width: 100%;
    height: 100%;

}
#description{
    width: 100%;
    max-width: 100%;
    height: 175px;
    font-size: 16px;
    padding: 5px;
    resize: none;
}
textarea:hover{
    cursor: text;
}

#locationDiv{
    width: 65%;
}
#priceDiv{
    width: 30%;
}

@media (max-width: 584px){
    html{
        height: 100%;
    }
    body{
        width:100%;
        display: flex;
        height: 100%;
    }
    .container{
        min-height: 100%;
        max-width: 100%;
        /* height: 100%; */
        border-radius: 0px;
        margin-top: calc(15% + var(--nav-height));
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .bottom-info{
        width: 50%;
    }

    #user-details-div{
        display: block;
    }

    #locationDiv, #priceDiv{
        width: 100%;
    }

    #imageDiv{
        margin-bottom: 15px;
    }

    .input-box{
        width: 100%;
    }
}